<div class="center">
    <div class="text-center">
        {{!-- {{#if post}} --}}
        <form class="form update-post-form">
            <div class="form-group">
                <label for="post-name">Post name:</label>
                <input value="{{name}}" class="form-input" type="text" id="post-name" name="post-name" />
            </div>
            <div class="form-group">
                <label for="post-desc">description:</label>
                <textarea class="form-input" id="post-desc" name="post-desc">{{description}}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" data-id="{{id}}">Update</button>
            </div>
        </form>
        {{!-- {{else}} --}}
        {{!-- <h3>Post not found</h3> --}}
        {{!-- {{/if}} --}}
    </div>
</div>
</div>

<script src="/js/update.js"></script>