body {
  background-color: #d6d6d6;
}

header {
  background-color: #4558ff;
}

header a {
  color: white;
}

header a:not(:last-of-type) {
  color: white;
  margin: 0px 20px;
}

header a:hover {
  color: white;
}

header,
.post:not(:last-child) {
  border-bottom: 2px solid #ccc;
}

main {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  /* display: flex;
  justify-content: center; */
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
}

main a {
  color: #000e8b;
}

main a:hover {
  color: #000853;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: white;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

input#comment {
  width: 30rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
}

.text-center {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
}